BPEL_SET_TOP_CLIENT_REPEAT/bpelContent/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://cn.edu.pku.ss.bank" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://cn.edu.pku.ss.bank" xmlns:intf="http://cn.edu.pku.ss.bank" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://cn.edu.pku.ss.bank" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="creditCardAuthorization">
    <complexType>
     <sequence>
      <element name="creditCardNo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="creditCardAuthorizationResponse">
    <complexType>
     <sequence>
      <element name="creditCardAuthorizationReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="creditCardAuthorizationResponse">

      <wsdl:part element="impl:creditCardAuthorizationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="creditCardAuthorizationRequest">

      <wsdl:part element="impl:creditCardAuthorization" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankService">

      <wsdl:operation name="creditCardAuthorization">

         <wsdl:input message="impl:creditCardAuthorizationRequest" name="creditCardAuthorizationRequest">

       </wsdl:input>

         <wsdl:output message="impl:creditCardAuthorizationResponse" name="creditCardAuthorizationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankServiceSoapBinding" type="impl:BankService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="creditCardAuthorization">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="creditCardAuthorizationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="creditCardAuthorizationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankServiceService">

      <wsdl:port binding="impl:BankServiceSoapBinding" name="BankService">

         <wsdlsoap:address location="http://localhost:8080/OnlineShop_Services/services/BankService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
